@{
    ViewBag.Title = "Página Inicial";
}

<div class="text-center">
	<h1 class="display-4 fw-bold">Seja bem-vindo(a)!</h1>
	<p class="fs-3 mt-5">Acesse as funcionalidades da aplicação através do menu lateral.</p>
</div>