@model MensagemViewModel

@if (Model is not null)
{
	var corAlerta = Model.Titulo == "Sucesso" ? "alert-sucesso" : "alert-danger";
	var iconeSelecionado = Model.Titulo == "Sucesso" ? "bi-check-circle-fill" : "bi-info-circle-fill";

	<div class="alert @corAlerta alert-dismissible fade show" role="alert">
		<i class="bi @iconeSelecionado"></i>
		<strong>@Model.Titulo</strong> @Model.Mensagem
		<button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
	</div>
}