@model LoginViewModel

@{
	ViewBag.Title = "Login de Usuário";
}

<div class="row">
	<div class="col-lg-6">
		<form class="d-grid gap-3" asp-action="Login">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Usuario"></label>
				<input asp-for="Usuario" class="form-control" />
				<span asp-validation-for="Usuario" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Senha"></label>
				<input asp-for="Senha" class="form-control" />
				<span asp-validation-for="Senha" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary mt-2">Login</button>
		</form>
	</div>
</div>