@using ControleLocadoraAutomoveis.Dominio.ModuloLocacao
@model ConfirmarAberturaLocacaoViewModel

@{
	ViewBag.Title = "Confirmar Abertura de Locação";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3 fs-5" asp-action="ConfirmarAbertura">

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Veículo</label>
                <select class="form-control mb-1" asp-for="IdAutomovel" asp-items="Model.Automoveis" readonly></select>
                <span class="text-danger fs-6" asp-validation-for="IdAutomovel"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Condutor</label>
                <select class="form-control mb-1" asp-for="IdCondutor" asp-items="Model.Condutores" readonly></select>
                <span class="text-danger fs-6" asp-validation-for="IdCondutor"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Tipo de Plano</label>
                <select class="form-control mb-1" asp-for="PlanoDeCobranca" asp-items="Html.GetEnumSelectList<TipoPlanoDeCobrancaEnum>()" readonly></select>
                <span class="text-danger fs-6" asp-validation-for="PlanoDeCobranca"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Marcador de Combustível</label>
                <select class="form-control mb-1" asp-for="MarcadorCombustivel" asp-items="Html.GetEnumSelectList<MarcadorCombustivelEnum>()" readonly></select>
                <span class="text-danger fs-6" asp-validation-for="MarcadorCombustivel"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Quilometragem Percorrida</label>
                <input class="form-control mb-1" asp-for="QuilometragemPercorrida" type="number" readonly />
                <span class="text-danger fs-6" asp-validation-for="QuilometragemPercorrida"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Data da Locação</label>
                <input class="form-control mb-1" asp-for="DataDaLocacao" type="date" min="@DateTime.Today" readonly />
                <span class="text-danger fs-6" asp-validation-for="DataDaLocacao"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Data Prevista de Devolução</label>
                <input class="form-control mb-1" asp-for="DevolucaoPrevista" type="date" min="@DateTime.Today" readonly />
                <span class="text-danger fs-6" asp-validation-for="DevolucaoPrevista"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold mb-1">Taxas Selecionadas</label>
                <select class="form-control mb-1" asp-for="TaxasSelecionadas" asp-items="Model.Taxas" multiple readonly></select>
                <span class="text-danger fs-6" asp-validation-for="TaxasSelecionadas"></span>
            </div>

            <p><strong>Valor Parcial:</strong> @Model.ValorParcial.ToString("C2") + <em class="text-success">@(1000m.ToString("C2")) de caução</em></p>

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-primary px-5" asp-action="Inserir">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>